#hand-container {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 150px;
}

#myHand {
    transform: rotate(90deg);
    width: 150px;

}

#pcHand {
    transform: rotate(270deg);
    width: 150px;

}